* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #483a58;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* overflow-x: hidden; */
}

#wrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(/img/mangaPanelsBackground.jpg);
}


#indexContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 450px;
    /* grid-gap: 10px; */


    width: 70vw;

    left: 16%;
    position: absolute;

    background-color: white;
    border: 2px solid black;
}




#head {
    background-color: #4f2d4b;
    height: 120px;
    position: sticky;
}

.indexDiv {
    /* width: 325px;
    height: 400px; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding-right: 10px; */
    background-color: #bfbfbf;
}

.indexButton {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 50px;
}

.indexImg {
    width: 225px;
    height: 320px;
}

#search {
    width: 600px;
    height: 40px;

    position: absolute;
    top: 1vh;
    left: 33vw;
}

#searchLabel {
    position: absolute;
    top: 1.8vh;
    left: 29vw;
}

.buttonsDiv {
    display: flex;
    position: absolute;
    top: 9vh;
    left: 22vw;
}

.genreButtons {
    width: 10vw;
    padding: 1px;
    margin: 5px;
}