* {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-image: url(../img/berserk.jpg);
    overflow: hidden;
}



#manga-cover {
    width: 18vw;
    margin-top: 6vh;
    margin-left: 4vw;
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.6s;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
}


/* #indexContainer:hover img {
    opacity: .3;
} */

#manga-cover:hover {
    opacity: .3;
}

#manga-cover:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

#container {
    position: absolute;
    top: 17vh;
    left: 16vw;
    width: 65vw;
    height: 82vh;
    background-color: #5c4159;
    flex-grow: 1;
    border: 2px solid black;

}

#bread-crumbs {
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    height: 4vh;
}

#bread-crumbs a {
    color: purple;
}

.admin-buttons {
    width: 7vw;
    height: 4vh;
    margin-left: 1vw;
    padding: 0.8em 1.8em;
    border: 2px solid grey;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: grey;
}

.admin-buttons::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: grey;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.admin-buttons:hover::before {
    width: 105%;
}

.admin-buttons:hover {
    color: #5c4159;
}


#info-container {
    /* background-color: blue; */
    position: absolute;
    height: 60vh;
    top: 9vh;
    left: 39vw;
    display: flex;
    flex-direction: column;
    /* align-items: s; */
    justify-items: space-around;
}

#admin-elements {
    display: flex;

    /* justify-content: center; */

    position: relative;
    left: 3vw;
    top: 13vh;
}


#manga-title {
    /* position: absolute; */
    color: white;
    width: 20vw;
    left: 40vw;
    top: 11vh;

    font-size: 2rem;

}

#synopsis {
    /* position: absolute; */
    color: white;
    margin-top: 2vh;
    top: 16vh;
    left: 40vw;
    width: 24vw;
}

#price-header {
    /* position: absolute; */
    color: white;
    margin-top: 2vh;
    top: 27vh;
    left: 40vw;
}

#price {
    color: rgb(196, 63, 63);
}

#genres {

    /* position: absolute; */
    top: 32vh;
    left: 40vw;
}

#buy-button {
    /* position: absolute; */
    /* left: 40vw;
    top: 50vh; */

    margin-top: 2vh;

    height: 2vh;
    width: 2vh;

    background-image: url(../img/cart.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 10% 40%;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    /* background: #FCFCFD; */
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;


}

#buy-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

#buy-button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}